!!!
%html
  %head
    %title ProficiencyTest
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header#header
      %nav.navbar.navbar-default.navbar-client.center-align{role: :navigation}
        .container.center-align
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to 'Home', root_path
            %li
              %a
                Matrícula
            %li
              = link_to Student.model_name.human.pluralize, students_path
            %li
              = link_to Course.model_name.human.pluralize, courses_path
    %section#content.container
      .flash
        - flash.each do |name, msg|
          .alert{class: "alert-#{name}"}
            %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: :button}
              &times;
            = content_tag :div, msg
      = yield